/* These styles are just to make it easier to see the blocks, initially. */
/* add breakout points */
/* want to control some thing have same value, commond d selected */


/* local Fonts */


@font-face {
    font-family: ordinary;
    src:url("fonts/ordinary-textlight.otf");
}



body {
	font-family: 'Pathway gothic one',sans-serif;
	padding: 40px;
  font-size: 16px;
  color:white;
  background-color: black;

}
header{
  background: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
  /* background: linear-gradient(to bottom, rgba(0,84,144,1),rgba(0,0,0,0)); */

/* background-color:black; */
position: fixed;
width:100%;
/* height:180px; */
top:0;
left:0;
padding:0px;

}


.line01{

/* top:180px; */
width:100%;
height:1px;
background-color: white;
}

h1{
font-family: 'Cardo',serif;
font-size:600%;
text-align: left;
color:white;

}

h1:hover + #channel-description{
  color: rgba(255, 255, 255, 1);
}

#channel-description{
  font-family: 'Cardo',serif;
  font-size:16px;
  text-align: left;
  color: rgba(255, 255, 255, 0);
  height:26px;
  /* display:none; */

}

@media (max-width: 1200px) {
  h1 {
    font-size:400%;}
}

@media (max-width: 780px) {
  h1 {
    font-size:250%;}
}
@media (max-width: 1200px) {
  header {
    height:120px}
}

@media (max-width: 780px) {
  header {
    height:60px}
}

/* @media (max-width: 1000px) {
  h1 {
    font-size:300%;}
} */

.title{
font-family: 'Cardo',serif;
font-size:20px;

}

/* .three-column{
 display:flex;
 gap:60px;


} */
/* section{
	margin-top:50px;
} */

a {
	color: white;
}

/* space between each elements */
figure:not(:first-child){
    margin-top: 100px;

	}

/* h1, h2, h3 {
	font-size: 300%;
} */

section{
  display:flex;
	margin-top: 80px;
  width:300%;
  gap:20px;

}

/* section,
figure {
  display:flex;
	margin-top: 80px;


} */






#channel-description > *,
figure > *:not(:first-child),
.description > *:not(:first-child),
.content > *:not(:first-child) {
	display: block;
	margin-top: 1em;
}

/* Clear them out once you’ve got your channel plugged in! */
